@media (max-width: 576px) {
  .col-sm-9 {
    height: 64vh;
  }
  .col-sm-3 {
    height: 30vh;
  }
}

#whiteBackdrop {
  background-color: white;
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: 9999998;
}

/* height: 70% */
#container {
  height: 100%;
  width: 100%;
  margin: 0 auto;
  display: flex;
  flex-direction: row;
}

/* top: 0% */
#map {
  top: 0%;
  left: 1%;
  flex-basis: 0;
  flex-grow: 4;
  height: 100%;
}
